.product {
	display: grid;
	grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];
	margin-top: 30px;
	padding: 30px;
}

.logo {
	grid-column: start / logoend;
	grid-row: 1 / span 2;
}

.title, .tags {
	grid-column: titlestart / middle;
}

.price, .priceTitle {
	grid-column: pricestart / priceend;
	white-space: nowrap;
}

.credit, .creditTitle {
	grid-column: creditstart / creditend;
}

.rating, .rateTitle {
	grid-column: ratestart / end;
	white-space: nowrap;
}

.hr, .description, .actions {
    grid-column: start / end;
}

.feature {
    grid-column: start / middle;
}

.advBlock {
    grid-column: middle / end;
}

.logo img {
    border-radius: 5px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    align-self: flex-end;
}

.price, .credit {
    font-size: 20px;
    line-height: 27px;
    align-self: flex-end;
}

.month {
    font-size: 14px;
    line-height: 19px;
}

.rating {
    align-self: flex-end;

}

.priceTitle, 
.creditTitle,
.rateTitle {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}