:root {
  --black: #3B434E;
  --gray-light: #ebebeb;
  --white: white;
  --primary: #7653FC;
  --primary-hover: #6344df;
  --red: #FC836D;
  --green: #1DC37E;
  --light-green: #C8F8E4;
  --font-family: 'Noto Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;

  max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background: #F5F6F8;

  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}
